.counter-container{
        height: 80vh;
        place-items: center;
}

h1 {
        color: #111;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 56px;
        font-weight: 900;
        letter-spacing: 1px;
        line-height: 1
}



.displayNum {
        margin-bottom: 30px;
}

button[disabled] {
        opacity: 0.8;
        cursor: not-allowed;
}

button span {
        font-size: 25px;
}

.plus-minus {
        height: 35px;
}