.counter-container{
        height: 58vh;
}

h1.count {
        font-size: 100px;
}

.displayNum {
        margin-bottom: 30px;
}

button[disabled] {
        opacity: 0.8;
        cursor: not-allowed;
}

button span {
        font-size: 25px;
}

.plus-minus {
        height: 35px;
}